*{
    margin: 0%;
}

body{
    color: black;
    background-color: lightgray;
    /* font-family: 'Trebuchet MS'; */
    font-family: 'Amatic SC', cursive;

}

main{
    margin: 2rem;
}

header{
text-align: center;
}

h1{
    font-size: 68px;
}

h2{
    font-size: 44px;
}

p{
    font-size: 20px;
}
